# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

/nbproject/configurations.xml
/nbproject/private/CodeAssistancePathMapper.properties
/nbproject/private/configurations.xml
/nbproject/private/Default-build.log
/nbproject/private/Default-exec.log
/nbproject/private/Default.properties
/nbproject/private/launcher.properties
/nbproject/private/private.xml
/nbproject/project.xml
